* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
}
.header {
  width: 100%;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/src/img/IMG_20230729_204507_183.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  cursor: pointer;
}
nav {
  text-align: right;
  flex: 1 1 0%;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  /* position: relative; */
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content-head {
  padding: 50px;
}
.content h1 {
  font-size: 50px;
  margin-top: 80px;
}
.content p {
  color: #fff;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
}
.col-1 {
  flex-basis: 50%;
  /* min-width: 500px; */
}

.col-1 img {
  max-width: 75%;
  margin-left: 100px;
  /* padding: 50px 0; */
}

.col-1 p {
  font-size: 30px;
  line-height: 60px;
  margin: 25px 0;
  margin-right: 50px;
}
.waves {
  line-height: 0%;
  /* margin: -1; */
  display: block;
}

.col-2 {
  flex-basis: 50%;
  min-width: 500px;
}

.col-2 p {
  font-size: 30px;
  line-height: 40px;
  /* margin: 25px 0; */
  text-align: right;
  margin-left: 50px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #fff;
}
.title::after {
  content: "";
  background: #4b5320;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.row-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  flex-basis: 50%;
  min-width: 500px;
}

.col-3 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  /* border: #4b5320 1px solid;
  background: #4b5320;
  border-radius: 10px; */
  color: #fff;
  font-size: 20px;
}

.col-3 img {
  width: 100%;
}

.frame {
  width: 100%;
  border: 0px solid;
  border-radius: 150px;
}

.col-4 img {
  width: 100%;
}

.col-4 {
  flex-basis: 40%;
  min-width: 200px;
}

.section {
  margin: 30px;
}

/*-------- footer -------*/

.container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
} */
.footer {
  background: #4b5320;
  color: #fff;
  font-size: 14px;
  padding: 60px 0 20px;
}

.row-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  font-size: 24px;
}
.col-5 {
  flex-basis: 20%;
  /* min-width: 500px; */
}
.col-5 img {
  /* padding-left: 100px; */
  width: 200px;
}
.social {
  text-decoration: underline;
}
.copy {
  padding-left: 100px;
  font-size: 14px;
}

.icons {
  width: 20px;
}

/* .footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3 {
  flex-basis: 12%;
  text-align: right;
} */
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.fa-brands {
  float: right;
  padding-right: 50px;
}
.footer hr {
  border: none;
  background: #fff;
  height: 1px;
  margin: 20px;
}
.copyright {
  text-align: center;
}
.fa-bars,
.fa-x {
  visibility: hidden;
}

/* ------ Mobile View ------ */

@media only screen and (max-width: 800px) {
  #MenuItems {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    /* background: rgb(51, 51, 51); */
    overflow: hidden;
    transition: max-height 0.5s ease 0s;
  }

  /* .content-head {
    margin-top: 100px;
    text-align: center;
  } */
  /* .fa-bars {
    display: block;
    cursor: pointer;
    visibility: visible;
    flex-direction: column;
    justify-content: space-around;
  } */
  .fa-cart-shopping {
    visibility: hidden;
  }
  /* nav ul{
    position: absolute;        
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  } */
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  /* .sec important {
    text-align: left;
  } */
}

@media only screen and (max-width: 800px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-1,
  .col-2,
  .col-3 {
    flex-basis: 100%;
    text-align: center;
  }
}
